@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.dark {
  background-color: black !important;
}

.dark .bg-white {
  /* Example of overriding background color for specific elements */
  background-color: #f1f1f1;
}

body {
  background-color: #f1f1f1;
}
